name: Tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 6"
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.7, 3.8, 3.9]
    steps:
      - name: Checkout empyrical
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install empyrical
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
          pip install -e .[test]

      - name: Lint with flake8
        run: |
          flake8

      - name: Unittests with tox & pytest
        run: |
          tox -e ci_full_tests
